footer {
  background-color: black;
  color: $neutral-color;
  margin: 0;
  width: 100%;
  height: 209px;
  @include flex-justify-items-center;
  flex-direction: column;
  row-gap: 30px;
  /*position: fixed;
  bottom: 0;*/
  @include tab {
    gap: 0px;
  }

  p {
    font-size: 24px;
    text-align: center;

    @include tab {
      width: 122px;
      font-size: 12px;
    }
  }

  img {
    filter: brightness(0) invert(1);
    width: 122px;
    height: 68px;
    object-fit: contain;
    align-items: center;
  }
}