.page404 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        img {
            height: 263px;
            margin: 10% 0;
        }

        h1 { 
            margin: 8% auto;
            font-size: 38px;
            font-weight: 500;
        }

        .goHome{
            margin: 8% auto;
            font-size: 18px;
        }
}