.accordionSection {
  padding: 0;
  @include flex-justify-items-center;

  .accordionBody {
    width: 80%;
    @include flex-column-justify-center;
    gap: 30px;

    @include tab {
      width: 90%;
    }

    @include phone {
      width: 100%;
    }

    .accordion-item {
      width: 100%;
      /*margin-top: 40px;*/
      position: relative;
      top: 0px;

      .accordion-title {
        height: 50px;
        @include flex-items-center;
        justify-content: space-between;
        background-color: $primary-color;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        padding: 10px;
      }

      .accordion-content  {
        overflow: hidden;
        background-color: $card-color;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        padding: 20px;
        position: relative;
        top: -10px;
      }

     /* .open, {
        max-height: 1000px;
        transition: all 2s ease-in-out ease-in-out;
        transform: translateY(-10px);
      }

      .close {
        max-height: 0px;
        display: none;
      }*/

      .arrow {
        width: 20px;
        height: 20px;
        transition: all 300ms ease-in-out;
        transform: rotate(0deg);
        transform: translatey(0px)
      }

      .rotated {
        width: 20px;
        height: 20px;
        transition: all 300ms ease-in-out;
        transform: rotate(180deg);
        
      }
    }
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }

  ul {
    padding-top: 10px;
    @include flex-column;

    li {
      font-size: 18px;
      font-style: 500;
      line-height: 0px;
      text-align: left;
    }
  }
}
