.accordionSection {
  border-radius: 10px;
  padding: 0;
  /*@include flex-justify-items-center;*/
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  position: relative;

  @include tab {
    flex-wrap: wrap;
  }

  .accordionBody {
    width: 80%;
    @include flex-column-justify-center;
    gap: 30px;
    
    @include tab {
      width: 90%;
    }

    @include phone {
      width: 100%;
    }

    .accordion-item {
      width: 100%;
      top: 0px;
      
      .accordion-title {
        height: 50px;
        @include flex-items-center;
        justify-content: space-between;
        background-color: $primary-color;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        padding: 10px;
      }

      .accordion-content  {
        overflow: hidden;
        background-color: $card-color;
        border-radius: 0px 0px 10px 10px;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        padding: 20px;
        position: relative;
        top: -10px;
        max-height: 1000px;
        transform: translatey();
        animation-name: accordion  4000ms;
      }
      @keyframes accordion {
      to {
          opacity: 1;
          transform: translatey(max-height);
        }
      }

      .arrow {
        width: 20px;
        height: 20px;
        transition: all 300ms ease-in-out;
        transform: rotate(0deg);
        transform: translatey(0px)
      }

      .rotated {
        width: 20px;
        height: 20px;
        transition: all 300ms ease-in-out;
        transform: rotate(180deg);
        
      }
    }
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }

  ul {
    padding-top: 10px;
    @include flex-column;

    li {
      font-size: 18px;
      font-style: 500;
      line-height: 0px;
      text-align: left;
    }
  }
}
