.image-banner {
    padding: 20px 0px 40px;
    position: relative;

    @include tab {
        padding: 20px 0;
    }

    img {
        height: 223px;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(0.6);

        @include tab {
            height: 111px;
        }
    }

    .banner-text {
        position: absolute;
        bottom: 45%;
        font-size: 48px;
        color: $neutral-color;
        font-weight: 500;
        margin: 0;
        width: 100%;
        text-align: center;

        @include tab {
            width: 65%;
            font-size: 24px;
            text-align: left;
            margin-left: 15px;
        }
    }
}