* {
  margin: 0;
}

.card {
  background-color: $card-color;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 50px 4.86%;

  @include tab {
    padding: 20px 2.5%;
  }

  @include phone {
    background-color: $neutral-color;
    padding: 0;
    margin: 0;
  }

  .card-style {
    @include flex-row-justify;
    gap: 45px;
    flex-wrap: wrap;

    @include desktop-large {
      gap: 25px;
    }
    @include tab {
      gap: 20px;
    }

    @include phone {
      gap: 15px;
      padding: 0;
      margin: 0;
    }

    .card-div {
      width: 30%;
      height: 340px;
      border-radius: 20px;
      position: relative;

      @include desktop-large {
        height: 300px;
      }

      @include desktop {
        height: 280px;
        width: 45%;
      }

      @include tab {
        height: 265px;
        width: 100%;
      }

      @include phone {
        height: 255px;
        width: 100%;
      }

      &::before {
        content: "";
        background: linear-gradient(180deg,
            rgba(255, 96, 96, 0.1195071779) 74%,
            rgba(45, 21, 21, 0.3071822479) 90%);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

      img {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .card-title {
        position: absolute;
        bottom: 5%;
        left: 3%;
        color: $neutral-color;
        font-size: 18px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        width: 65%;
        height: 10%;
        display: flex;
        align-items: flex-end;
        margin: 0;
        
        @include tab {
          width : 80%
        }
      }
    }
  }
}