* {
  font-family: "Montserrat", sans-serif;
}

.carousel {
  position: relative;
  margin: 30px 0px 20px 0px;
}

.carouselPicture {
  width: 100%;
  height: 415px;
  object-fit: cover;
  z-index: 1;
  border-radius: 20px;

  @include tab {
    height: 255px;
  }
}

.carouselArrow {
  position: absolute;
  bottom: 35%;
  z-index: 3;
  width: 96px;
  height: 120px;
  cursor: pointer;

  @include desktop {
    bottom: 40%;
    height: 72px;
    width: 72px;
  }

  @include tab {
    bottom: 45%;
    height: 24px;
    width: 24px;
  }
}

.carouselArrowRight {
  right: 20px;
}

.carouselArrowLeft {
  left: 20px;
}

.carouselCounter {
  position: absolute;
  bottom: 20px;
  right: 50%;
  color: $neutral-color;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -2px;

  @include tab {
    display: none;
  }
}