* {
  margin: 0;
}

.card {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 50px 4.86%;

  .card-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;

    @include desktop-large {
      gap: 25px;
    }

    .card-div {
      width: 30%;
      height: 340px;
      border-radius: 20px;
      position: relative;

      @include desktop-large {
        height: 255px;
      }

      @include desktop {
        height: 280px;
        width: 45%;
      }

      @include tab {
        height: 255px;
        width: 90%;
      }

      &::before {
        content: "";
        background: linear-gradient(180deg, rgba(255, 96, 96, 0.1195071779) 74%, rgba(45, 21, 21, 0.3071822479) 90%);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

      img {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .card-title {
        position: absolute;
        bottom: 5%;
        left: 3%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        width: 90%;
        height: 10%;
        display: flex;
        align-items: flex-end;
        margin: 0;
      }

    }
  }
}