* {
    font-family: "Montserrat", sans-serif;
  }
  
  .carrousel {
    position: relative;
  }
  .carrouselImg {
    width: 100%;
    height: 415px;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
  }
  .carrouselArrow {
    position: absolute;
    bottom: 35%;
    z-index: 3;
    width: 96px;
    height: 120px;
    cursor: pointer;
  }
  .carrouselArrowRight {
    right: 20px;
  }
  .carrouselArrowLeft {
    left: 20px;
  }
  .carrouselCounter {
    position: absolute;
    bottom: 20px;
    right: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -2px;
  }
  