.header {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-content: center;


img{
    height: 68px;
    width: 210px;
    object-fit:contain;
    padding: 5px;
    align-items: center;
}
.navigation {
    padding: 20px 0px;
}
}