.housingDropdown {
    width: 100%;
    border-radius: 10px;
    padding: 30px 0px;
    position: relative;
    @include flex-row;
    justify-content: space-between;
    gap: 50px;

        @include tab {
            padding: 30px 0;
            @include flex-column-justify-center;    
        }

    .dropdown {
        width: 50%;

            @include tab {
                width: 100%;
            }

        .dropdownInitial {
            @include flex-items-center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 10px;
            color: white;
            font-size: 18px;
            background-color: $primary-color;
            height: 50px;

            .dropdownText {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .dropdownContent {
            overflow: hidden;
            border-radius: 0px 0px 10px 10px;
            background-color: $card-color;
            color: $primary-color;
            font-size: 18px;
            padding: 20px;
            line-height: 32px;
           

            p {
                font-size: 18px;
                font-weight: 500;
            }

            ul {
                padding-top: 10px;
               @include flex-column;
              
                li {
                    text-align: left;
                    font-size: 18px;
                    font-style: 500;
                    line-height: 0px;
                }
            }
        }
    }

    .open {
        display: block;
    }

    .close {
        display: none;
    }

    .arrow {
        width: 20px;
        height: 20px;
        transition: all 200ms ease-in-out;
        transform: rotate(0deg);
    }

    .rotated {
        width: 20px;
        height: 20px;
        transition: all 200ms ease-in-out;
        transform: rotate(180deg);
    }

}