.housingValidity {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 10px;
    gap: 50px;

    .dropdown {
        width: 50%;
        display: flex;
        flex-flow: column wrap;

        .dropdownInitial {
            @include flex-items-center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 10px;
            color: white;
            font-size: 18px;
            background-color: $primary-color;
            height: 50px;

            .dropdownText {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .dropdownContent {
            overflow: hidden;
            background-color: $card-color;
            color: $primary-color;
            font-size: 18px;
            padding: 20px;
            line-height: 32px;

            p {
                font-size: 18px;
                font-weight: 500;
            }

            ul {
                padding-top: 20px;
                display: flex;
                flex-direction: column;

                li {
                    text-align: left;
                    font-size: 18px;
                    font-style: 500;
                    line-height: 0px;
                    
                }

            }
            
        }
    }
    .open {
        max-height: 1000px;
        /* display: flex;*/
        transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;
      }

      .close {
        max-height: 0px;
        display: none;
        transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;
      }

      .arrow {
        width: 20px;
        height: 20px;
        transition: all 200ms ease-in-out;
        transform: rotate(0deg);
      }

      .rotated {
        width: 20px;
        height: 20px;
        transition: all 200ms ease-in-out;
        transform: rotate(180deg);
      }

}