ul {
    display: flex;
    gap: 50px;
    list-style: none;

    @include tab {
        gap: 10px;
    }

    li {
        color: #FF6080;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        text-align: right;

        @include tab {
            font-size: 12px;
        }
    }

    a {
        text-decoration: none;
    }
}