.banner {
    padding: 0px 0px 40px;
    position: relative;
}

.banner img {
    height: 223px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}
.banner-text {
    position: absolute;
    bottom: 50%;
    font-size: 48px;
    color: white;
    font-weight: 300;
    margin: 0;
    width: 100%;
    text-align: center;

}
