.page404 {
    width: 100%;
    @include flex-column;
    @include flex-justify-items-center;
    

    h1 {
        font-size: 250px;
        font-weight: 700;
        color: $primary-color;
        margin: 8% 0;
    }

    h2 {
        margin: 8% auto;
        font-size: 38px;
        font-weight: 500;
        color: $primary-color;
    }

    .goHome {
        margin: 8% auto;
        font-size: 18px;
        color: $primary-color;
        text-decoration: underline #FF6060;
    }
}
.footer{
    position: fixed;
    bottom: 0;
}