.dropApropos {
  padding: 0;
  @include flex-justify-items-center;

  .drop-apropos {
    width: 80%;
    @include flex-column-justify-center;
    gap: 30px;

    @include tab {
      width: 90%;
    }

    @include phone {
      width: 100%;
    }

    .dropdown {
      width: 100%;
      /*margin-top: 40px;*/
      position: relative;
      top: 0px;

      .dropdownTitle {
        height: 50px;
        @include flex-items-center;
        justify-content: space-between;
        background-color: $primary-color;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        padding: 10px;
      }

      .dropdownContent {
        overflow: hidden;
        background-color: $card-color;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        padding: 20px;
        transition: all 2s ease-in-out ease-in-out;
      }

      .open {
        max-height: 1000px;
        transition: all 2s ease-in-out ease-in-out;
        transform: translateY(-10px);
      }

      .close {
        max-height: 0px;
        display: none;
      }

      .arrow {
        width: 20px;
        height: 20px;
        transition: all 300ms ease-in-out;
        transform: rotate(0deg);
      }

      .rotated {
        width: 20px;
        height: 20px;
        transition: all 300ms ease-in-out;
        transform: rotate(180deg);
      }
    }
  }
}
