.footer .bottom {
 position: absolute;
  bottom: 0 ;
}

.dropApropos {
  padding: 0;
  @include flex-justify-items-center;
  

  .drop-apropos {
    width: 80%;
    @include flex-column-justify-center;
    gap: 30px;
    

    @include tab {
      width: 100%;
    }


    .dropdown {
      width: 100%;


      .dropdownInitial {
        @include flex-items-center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        background-color: $primary-color;
        height: 50px;
      }

      .dropdownContent {
        overflow: hidden;
        background-color: $card-color;
        color: $primary-color;
        font-size: 18px;
        padding: 20px;
        font-weight: 300;
        line-height: 25px;
      }

      .open {
        max-height: 1000px;
        odisplay: flex;
        transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;
      }

      .close {
        max-height: 0px;
        display: none;
        transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;
      }

      .arrow {
        width: 20px;
        height: 20px;
        transition: all 200ms ease-in-out;
        transform: rotate(0deg);
      }

      .rotated {
        width: 20px;
        height: 20px;
        transition: all 200ms ease-in-out;
        transform: rotate(180deg);
      }
    }
  }
}