$breakpoint: (
    "tab": 768px,
    "desktop": 1024px,
    "desktop-large": 1240px,
    "desktop-marge": 1900px
);

@mixin tab {
    @media screen and (max-width: map-get($breakpoint, tab)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: map-get($breakpoint, desktop)) {
        @content;
    }
}

@mixin desktop-large {
    @media screen and (max-width: map-get($breakpoint, desktop-large)) {
        @content;
    }
}
