/*body {
    font-family: "Montserrat", sans-serif;
  }
  
footer {
 
    width: 100%;
    padding: 0px 20px;
   
  }
  main {
    max-width: 1440px;
    padding: 40px 100px;
  }*/
  /* Général */

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

container-general {
  width: 100%;
  margin: auto;
  padding: 40px 10%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
