@import './pages/setting';
@import './components/navigation';
@import './components/header';
@import './components/banner';
@import './components/card';
@import './components/footer';
@import './pages/404';
@import './pages/about';