@import './pages/setting';
@import './components/navigation';
@import './Layout/header';
@import './components/banner';
@import './components/card';
@import './Layout/footer';
@import './pages/404';
@import './pages/about';