@import './pages/breakpoint';
@import './Utils/variables';
@import './Bases/reset';
@import './Bases/setting';
@import './Utils/flex';
@import './Utils/animations';
@import './components/navigation';
@import './Layout/header';
@import './components/banner';
@import './components/card';
@import './Layout/footer';
@import './components/star';
@import './pages/404';
@import './pages/about';
@import './components/carousel';
@import './pages/HousingFile';
@import './components/housingDropdown';
