@mixin rotation0To180Deg {
    transition: all 300ms ease-in-out;
    transform: rotate(180deg);
}

@mixin rotation180To0Deg {
    transition: all 300ms ease-in-out;
    transform: rotate(0deg);
    transform: translatey(0px)
}

@mixin goingUp {
    transform: translateY(0%);
    animation: goingUp 3s linear backwards;
}

@keyframes goingUp {
  0% {
     
     opacity: 1;
   }
   100% {
     opacity: 0;
     transform: translateY(-20px);
   }
 }

@mixin descending {
    transform: translateY(100%);
    animation: descending 1s linear forwards;
}

@keyframes descending {
    0% {
      transform: translatey(-20px);
    }
  
    100% {
      transform: translatey(0);
    }
  }

  @mixin underlineLink {
    transform: translateX(-50%);
    animation: underlineLink 0.6s ease forwards;
  }

  @keyframes underlineLink {
    to {
      width: 100%;
    }
  }