@mixin dropdownOpen {
animation: dropdownTranslation 20s forwards ease-out;

    @keyframes dropdownTranslation{
       from{ 
         
           transform: translatey(-100%);
            
        }
       to{
          
            transform: translateY(-10px);
           
        }
    }
}

@mixin dropdownClose {
    animation: dropdownTranslation 0s forwards ease-out;
    
        @keyframes dropdownTranslation{
           from{ 
             
               transform: translatey(-10px);
                
            }
           to{
              
                transform: translateY(100%);
               
            }
        }
    }