@mixin rotation0To180Deg {
  transition: all 300ms ease-in-out;
  transform: rotate(180deg);
}

@mixin rotation180To0Deg {
  transition: all 300ms ease-in-out;
  transform: rotate(0deg);
}

@mixin goingUp {
  animation: goingUp 3s linear forwards;
}

@keyframes goingUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@mixin descending {
  animation: descending 0.4s linear forwards;
}

@keyframes descending {
  0% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0);
  }
}

@mixin underlineLink {
  transform: translateX(-50%);
  animation: underlineLink 0.6s ease forwards;
}

@keyframes underlineLink {
  to {
    width: 100%;
  }
}