@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-items-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-justify {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-column-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}