  html {
    min-height: 100%;
  }

  body {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  container-general {
    width: 100%;
    max-width: 1900px;
    margin: auto;
    padding: 40px 6.95%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    @include desktop-large {
      padding: 40px 3.5%;
    }

    @include tab {
      padding: 10px 3.5%;
    }

  }