body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

container-general {
  width: 100%;
  max-width: 1900px;
  margin: auto;
  padding: 45px 6.95% 22px 6.95%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include desktop-large {
    padding: 20px 2.67%;
  }

  @include phone {
    padding: 10px 2.67%;
  }
}
